*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-family: sans-serif;
    list-style: none;
}

.colors{
    --verde:#D6FFDF;
    --roxo:#E6D6FF;
    --marom:#AA8D6B;

}

body{
    background-color:rgb(255, 255, 255);

}
header{
    padding: 0em 5em;
    height: 80px;
    background-color:#AA8D6B;
    margin-bottom: 100px;
}
.logo{
    font-size: 2em;
    color: white;
    line-height: 80px;
    float: left;
}
.menu{
    line-height: 80px;
    float: right;
}

.menu > a{
    color: white;
    padding: 0.5em 1.5em;
    margin-left: 1.5em;
    border-radius: 10px;
    transition: 300ms;
}

.menu > a:hover{
    background-color:#91785c;
}
.container{
    text-align: center;
    padding: 1.5em;
}
.container h1{
    margin-bottom: 2em;
    color:#AA8D6B;
}
.container > h2{
    color: #e0bb91;
    margin-bottom: 30px;
    margin-top: 100px;
}

.container > p{
    margin: auto;
    text-align: center;
    width: 600px;
    line-height: 30px;
    color: #74604a;
}

.container > img{
    width: 300px;
    margin-bottom: 50px;
}
.icone{
    width: 30px;
}
.icone:hover{
    scale: 1.1;
    transition: 300ms;
}

.links{
    margin-top: 50px;
}
.links li{
    display: inline;
    margin: 0em 1.5em;
}

#lista_hobbies > li{
    max-width: 500px;
    margin: auto;
    padding: 0.8em;
    margin-bottom: 1em;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.486);
    border-radius: 0.8em;
}
.hobbies{
    width: 250px;
    height: 350px;
    padding: 1.5em;
    margin: 1em ;
    border-radius: 1em;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.473);
    display: inline-block;
}
.hobbies > h4{
    margin-bottom: 1em;
}
.hobbies > img{
    object-fit: cover;
    width: 100%;
    height: 170px;
    margin-bottom: 1em;
}
.hobbies > p{
    color: #6F6D6B;
}

footer{
    background-color: #856e54;
    height: 80px;
    text-align: center;
    color: white;
    line-height: 80px;
    margin-top: 150px;
}